*{
    margin: 0;
    padding: 0; 
}

body{
    margin: 5px;
}

fieldset{
    padding: 5px;
    margin: 5px;
}

.colors{
    padding: 12px;
}

.square{
    width: 50px;
    height: 50px;
    border: 1px solid #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    color: white;

}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: brown;

}

.wrapper, .bg-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

*:not(.rect){
    columns: red !important;
}

.ract{
    width: 50px;
    height: 50px;
    border: 1px solid #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(24, 161, 150);
}

.red{
    /* color:red; */
    /* color: hsl(0,91%,49%); */
    /* color: #b71d1c; */
    /* color: rgb(239,11,11); */
    color: hwb(0 4% 6%);
}

.color-bg{
    width: 100px;
    height: fit-content;
    color: white;
}

.green{
    background: green;
}

.blue{
    background: blue;
}


.green span, .blue span{
    font-size: 10px;
    padding: 5px;
}

.bg-image{
    background: url(https://plus.unsplash.com/premium_photo-1676637000058-96549206fe71?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW1hZ2V8ZW58MHx8MHx8fDA%3D);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px -65px;
}
.bg-image{
    width: 300px;
    height: 300px;
    margin: 10px;
    background: url("https://lh3.googleusercontent.com/2Glig-YXcE8GLTBTXP1DNnICG7ItFaiYiSbDKLQ371p3skv8Py1wKtouFMyv-s6s3k3wK98TZkE9q1oNkUbQBfuFhEaokVVqAcwL=s1024");
    /*  background-position: x-pos y-pos  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px -65px;
}
.borders-wrapper{
    display: flex;
    flex-direction: row;
}
.borders-wrapper div{
    width: 100px;
    height: 100px;
    margin: 5px;
}
.solid{
    /* Border short-hand property */
    /* this is shorthand method for below three codes */
    border: 1px solid red;
    /* border-width: 1px;
    border-style: solid;
    border-color: red; */
    border-radius: 3px;
}
.dashed{
    /* Border short-hand property */
    /* this is shorthand method for below three codes */
    border: 1px dashed blue;
    /* border-width: 1px;
    border-style: solid;
    border-color: red; */

    border-radius: 3px;
}
.dotted{
    /* Border short-hand property */
    /* this is shorthand method for below three codes */
    border: 1px dotted blue;
    /* border-width: 1px;
    border-style: solid;
    border-color: red; */
    border-radius: 3px;
}
.pseudo input{
padding: 10px;
border: 1px solid #b71d1c;
}
.pseudo input[type="text"]{
    color: rgb(222, 14, 156);
}
.pseudo input[type="number"]{
    color: green;
}
.pseudo input[name="fname"]{
    color: rgb(255, 60, 0);
}
.pseudo input[name="age"]{
    color: rgb(20, 17, 192);
}
.day{
    color: blue;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.day:hover{
    text-decoration: underline;
}
.day2{
    text-indent: 10px;
    text-align: start;
    /*Gap between text*/
    letter-spacing: 30px; 
    text-shadow: 5px 5px rgb(6, 6, 6);
}
.day2:hover{
    text-shadow:5px 5px #b71d1c ;
    text-decoration:none;
}
.student-card{
    border: 1px solid;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.student-card img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.student-card .info-wrapper{
    /* display: flex;
    flex-direction: column; */
    /* or */
    display: grid;
    gap: 5px;
}
.student-card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}